/* Hero Section */
.hero-section {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: linear-gradient(
      275.88deg,
      rgba(102, 102, 102, 0) 1.27%,
      rgba(46, 2, 26, 0.7) 52.41%,
      rgba(79, 18, 18, 0.477273) 52.42%,
      rgba(58, 8, 23, 0.617905) 78.45%
    ),
    linear-gradient(
      275.07deg,
      rgba(102, 102, 102, 0) -0.06%,
      rgba(32, 32, 32, 0.477273) 58.01%,
      rgba(0, 0, 0, 0.7) 88.24%
    );
  /* position: relative; */
  /* overflow: hidden; */
  /* width: 100%; */
}

/* Hero Content */
.hero-content {
  max-width: 600px;
}

.hero-content h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  color: #fff;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  margin-bottom: 2rem;
}

/* Buttons */
.hero-buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.btn-red {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 7px;
  color: white;
  background-color: #df014e;
  border: none;
  font-weight: 700;
  font-size: 16px;
  gap: 10px;
  line-height: 24px;
  cursor: pointer;
}

.btn-red:hover {
  background-color: gray;
}

.btn-outline-red {
  background-color: white;
  border: none;
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
}

.btn-outline-red:hover {
  background-color: gray;
  color: #fff;
}

/* Hero Image */
.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
   margin-left: -20px;
}

.hero-image img {
  height: 100vh;
  object-fit: cover;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .hero-section {
    flex-direction: row; /* Keep row direction */
    flex-wrap: wrap; /* Allow wrapping */
    align-items: center;
    justify-content: center;
    text-align: left;
    height: auto;
    padding: 4rem 2rem;
  }

  .hero-content {
    max-width: 50%;
    order: 1; /* Content first */
  }

  .hero-content h1 {
    font-size: 2rem;
    line-height: 1.2;
  }

  .hero-content p {
    font-size: 1.2rem;
  }

  .hero-buttons {
    flex-direction: column; /* Stack buttons */
    align-items: flex-start;
  }

  .hero-image {
    max-width: 50%;
    order: 2; /* Image after content */
  }

  .hero-image img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .hero-section {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 1rem;
    width: 100%;
  }

  .hero-content {
    max-width: 50%;
  }

  .hero-content h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .hero-buttons {
    flex-direction: column; /* Stack buttons */
    align-items: flex-start;
  }

  .hero-image {
    max-width: 50%;
  }

  .hero-image img {
    width: 100%;
    height: auto;
  }
}
