.our-product {
  text-align: center;
  padding: 20px;
}

.our-product h2 {
  color: var(--grey-600, #323136);
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 700;
}

.our-product p {
  font-size: 24px;
  color:var(--grey-600, #323136);

  /* max-width: 600px; */
  margin: 0 auto 20px;
  font-weight: 400;
}

/* Services-info */

.services-1 h2{
  margin-top: 80px;
  font-weight: 700;
  font-size: 32px;
  color:#000000;
  text-align: center;
}
.service{
  background-color: #E6EEF5;

}
.serv{
  display: flex;
  flex-direction: row;

}
.telemed-image{
  width: 100%;
}
/* Responsive Design */
@media screen and (max-width: 900px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on tablets */
  }
}

@media screen and (max-width: 600px) {
  .product-grid {
    grid-template-columns: 1fr; /* 1 column on mobile */
  }
}

/* Back Button */
.back-home-btn {
  padding: 10px 15px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}
